/*for container padding for different views*/
.container {

    padding-left: 17.5rem;
    padding-right: 17.5rem;
}

@media screen and (max-width:1300px) {
    .container {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media  screen and (max-width:600px) {
.container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    } 
}